version: '3.8'
services:
  db:
    image: postgres:15
    container_name: crypto_db
    environment:
      # This tells Docker: "Look in the .env file for these values"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      postgres_data: